# Archivos específicos de la hoja de trabajo 6
HDT6.docx
HDT6.pdf

# Java specific
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Maven specific
target/

# IDE specific (NetBeans, Eclipse, IntelliJ)
nbproject/
.settings/
.classpath
.project
.idea/
*.iml
out/
bin/
build/

# OS specific
.DS_Store
Thumbs.db